body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  width: 85%;
  margin: 0 auto;
}

/* Estilos header (logo y navegacion) */
.header {
  display: flex;
  height: 132px;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-bottom: 3px solid black;
  margin-bottom: 35px;  
}

.header .logo {
  flex-grow: 2;
  display: flex;
}

.header .logo span {
  display: block;
  font-size: 91px;
  font-weight: bolder;
  margin-top: -8px;
  color: #fa4529;  
}

.header .logo h3 {
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  font-weight: 400;
  text-transform: uppercase;  
}

.header nav {
  flex-grow: 1;  
}

.header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 132px;  
}

.header li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
} 

.header li:last-child {
  margin-right: 0;
}

.header li a {
  color: black;
  text-decoration: none;
  transition: all 300ms;
}

.header .active,
.header a:hover {
  color: #fa4529;
}
/* Estilos contenido */
.content {
  min-height: 400px;
}
/* Estilos footer */
.footer {
  min-height: 40px;
  line-height: 7px;
  text-align: center;
  font-size: 14px;
  margin-top: 80px;
  padding-top: 45px;
  border-top: 3px solid black;
  background-color: #f5f5f5;
  color: #444;
}

.home h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 60px;
  text-align: justify;
  margin-bottom: 0;
  margin-top: 80px;
}

.home strong {
  color: #fa4529;
}

.home h2 {
  color: rgb(98, 97, 97);
  font-weight: lighter;
}

.home a {
  padding: 7px;  
  color: black; 
  text-decoration: none;
  font-weight: bold;
  transition: all 300ms;
}

.page .heading, 
.home .heading {
  font-size: 40px;
  font-weight: 500;
  color: black;
  margin-bottom: 0;
}

.page .heading {
  font-size: 55px;
  font-weight: bold;
}

.home p {
  color: rgb(98, 97, 97);
}

input[type="text"],
textarea {
  display: block;
  padding: 15px;
  margin-top: 25px;
  width: 250px;
}

input[type="submit"],
button {
  font-size: 15px;
  padding: 15px;
  margin-top: 15px;
  border: 0;
  background-color: #fa4529;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: all 300ms;
  cursor: pointer;
}


.home a:hover,
input[type="submit"]:hover,
button:hover{
  color: #fa4529;
}

.works {
  display: flex;
  flex-wrap: wrap;  
}

.work-item {
  flex-basis: 30%;
  flex-grow: 1;
  margin: 30px;
}

.work-item .mask {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 0 5px 5px gray;
}

.work-item img {
  width: 100%;
  transition: all 500ms;   
}

.work-item .mask:hover img {
  width: 150%;  
}


.work-item span {
  display: block;
  color: gray;
  margin-top: 35px;
}

.work-item h2 {
  display: block;
  font-size: 30px;
  color: black;
  margin-top: 5px;
  margin-bottom: 10px;
}

.work-item a {
  color: black;
  text-decoration: none;
  transition: all 300ms;  
}

.work-item a:hover {
  color: #fa4529;  
}

.work-item h3 {
  display: block;
  color: gray;
  margin-top: 0px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
}

.page-work .mask{
  height: 300px;
  overflow: hidden;
  box-shadow: 0 0 20px #ccc;  
}

.page-work .mask img{
  width: 100%;  
}

.page-work h1 {
  margin-top: 0;
}
